.decor-none {
    text-decoration: none;
}

.gray-950 {
    color: #111;
}

.text-sm {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
}

.pxy-30 {
    padding: 0 30px;
}

.sticky {
    position: sticky;
}

.top-0 {
    top: 0;
}

.z-1 {
    z-index: 1000;
}

.bg-white {
    background-color: #fff;
}

.border-y {
    border-bottom: 1px solid #eee;
}