@import '../styles//token.css';
/* --- TYPOGRAPHY UTILITIES --- */
.typography-h1 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  color: var( --color-gray-950);
  margin: 0;
}

 .typography-h2 {
  font-size: var(--font-size-h2);        
  line-height: var(--line-height-tight);
  color: var( --color-gray-950);
  margin: 0;
}

 .typography-h3 {
  font-size: var(--font-size-h3);        
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  color: var( --color-gray-950);
  margin: 0;
}

 .typography-h4 {
  font-size: var(--font-size-h4);        
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  color: var( --color-gray-950);
  margin: 0;
}

 .typography-h5 {
  font-size: var(--font-size-h5);        
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  color: var( --color-gray-950);
  margin: 0;
}

.typography-lead {
  margin: 0;
  font-size: var(--font-size-p);
}

.typography-p {
  margin: 0;
}

/* --- TEXT ALIGN UTILITIES --- */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}

.text-500 {
    font-weight: var(--font-weight-medium);
}

/* Medium screens (≥768px) */
@media (min-width: 428px) {
.typography-h1 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-tight);
}
}

/* Medium screens (≥768px) */
@media (min-width: 768px) {
.typography-h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-tight);
}

 .typography-h2 {
  font-size: var(--font-size-h2);        
  line-height: var(--line-height-tight);
  padding-bottom: var(--padding-8);
}

 .typography-h3 {
  font-size: var(--font-size-h3);        
  line-height: var(--line-height-tight);
}

 .typography-h4 {
  font-size: var(--font-size-h4);        
  line-height: var(--line-height-tight);
}

 .typography-h5 {
  font-size: var(--font-size-h5);        
  line-height: var(--line-height-tight);
}
}

/* Large screens (≥1024px) */
@media (min-width: 1024px) {
.typography-h1 {
  font-size: var(--text-5x1);
  line-height: var(--line-height-tight);
  margin: 0;
}

 .typography-h2 {
  font-size: var(--font-size-h2);         
  line-height: var(--line-height-tight);
  margin: 0;
}

 .typography-h3 {
  font-size: var(--font-size-h3);        
  line-height: var(--line-height-tight);
  margin: 0;
}

 .typography-h4 {
  font-size: var(--font-size-h4);        
  line-height: var(--line-height-tight);
  margin: 0;
}

 .typography-h5 {
  font-size: var(--font-size-h5);        
  line-height: var(--line-height-tight);
  margin: 0;
}

.typography-lead {
  margin: 0;
  font-size: var(--font-size-lead);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-relaxed);
  color: var(--color-gray-800);
}

.typography-p {
  margin: 0;
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  color: var( --color-gray-800);
}
}
